<li class="nav-item">
                    <a href="#contact" class="nav-link <%= currentPage === 'contact' ? 'active' : '' %>">
                        <span data-pl="Kontakt" data-en="Contact" data-nl="Contact">Kontakt</span>
                    </a>
                </li>