.particles {
    background-image: 
        linear-gradient(90deg, transparent 98%, rgba(255,255,255,0.1) 100%),
        linear-gradient(180deg, transparent 98%, rgba(93,173,226,0.1) 100%);
    background-size: 50px 50px;
    animation: matrix 20s linear infinite;
}

@keyframes matrix {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(100vh); }
}